
.form-container {
    width: 600px;
    margin: 50px auto;
    padding:30px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #f5f7f8;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Abril Fatface', cursive;
font-family: 'PT Serif', serif;
  }
  
  label {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .form-field{
    font-size: 30px;
  }

  .form-data{
    padding-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* font-size: 15px; */
    margin-bottom: 10px;
  }
  textarea{
    width:540px;
    height: 150px;
    
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  resize: none;
  outline: none;
    padding: 20px;
    margin-bottom: 30px;
  }
  .history{
    display: flex;
    flex-direction: column;
  }
  input[type="textarea"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  input [type="textarea"]{
  
      background-color: #f0f0f0;
      cursor: not-allowed;
    
  }
  
  input[type="checkbox"]{
    margin-bottom: 40px;
     align-items: flex-end;
    transform: scale(1.5);
  }
  
  input[type="submit"] {
    width: 50%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #4e524a;
    width: 50%;

  }

  