.dropdowns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    
  }
  
  .dropdown-wrapper {
    margin-bottom: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover{
    background-color: rgb(21, 19, 19);
  }
  .header-country-result{
    font-size: 2rem;
    margin-top: 50px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .dropdowns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown-wrapper {
    margin-bottom: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
    


  .comparison-table {
    border-collapse: collapse;
    width: 100%;
    
  }

  .comparison-table th,
  .comparison-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  .comparison-table th {
    background-color: #f2f2f2;
    text-align: center;
  }

  .comparison-table th:first-child {
    text-align: left;
  }

  .comparison-table td.boolean {
    text-align: center;
  }
  .comparison-table{
    color: rgb(1, 6, 9);
  }

  .comparison-table td {
    text-align: center;
  }

  .comparison-table td:first-child{
    text-align: left;
  }

  .table__container {
    width: 80%;
    margin: auto;
  }

  .comparison-table tr {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
  }

  .comparison-table td {
    padding: 15px;
  }

.header-country-result{
  color: #007bff;
}
.dropdowns-container h2{
  color: darkslategray;
  /* margin-top: 100px; */
}
