.dropdowns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown-wrapper {
    margin-bottom: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  .header-country-result{
    font-size: 2rem;
    margin-top: 50px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .dropdowns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown-wrapper {
    margin-bottom: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
    


  .comparison-table {
    border-collapse: collapse;
    width: 80%;
    
  }

  .comparison-table th,
  .comparison-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  .comparison-table th {
    background-color: #f2f2f2;
  }

  .comparison-table td.boolean {
    text-align: center;
  }
  .comparison-table{
    color: rgb(1, 6, 9);
    margin: 50px;
  }